.footer { padding: 1.375rem 0; }

.div18px { padding-bottom: 1.125rem; }
.cambiardireccion { padding: 1.125rem; border-radius: 0.937rem; }
.oculto { border-radius: 0.625rem; }
.posimg { border-radius: 1rem; }
.sobremirebajado { margin: 0.5%; }