@media (max-width: 900px) {
  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .about-hero {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  html, body {
    overflow: auto;
    height: auto;
  }

  .nav {
    position: fixed;
    width: 100%;
    transform: translateX(100%);
  }

  .nav.active {
    transform: translateX(0);
  }
}