:root {
  --bg2: rgba(209, 209, 209, 0.5);
  --text2: rgba(59, 59, 59, 0.5);
  --bg: #d1d1d1;
  --panel: #14161b;
  --text: #3b3b3b;
  --muted: #a8b0bb;
  --primary: #7aa2ff;
  --primary-600: #5a86ff;
  --primary-light: #93B1FA;
  --border: #252932;
  --card: #171a20;
  --ok: #19c37d;
  --textlight: #d8d8d8;
  --down: #00c2ff;
  --fade: 70%;
}
